<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增商品</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <button onclick="history.go(-1)">上一頁</button>

    <div id="app" v-cloak>
      <div id="pages">
        <button
          v-for="(value, key) in pages"
          :key="value"
          class="btn"
          :class="{active: page === value}"
          @click="page = value"
        >
          {{ key }}
        </button>
      </div>
      <!-- 選擇版型 Start -->

      <div v-show="page === 0" class="page">
        <h1>選擇版型</h1>
        <div class="layouts">
          <div
            v-for="(layout, index) in layouts"
            :key="index"
            class="layout"
            :class="{active: payload.template_index === index}"
            @click="payload.template_index = index"
          >
            <div
              v-for="(key, keyIndex) in layout"
              :class="key"
              :key="key"
              :data-index="index"
              :data-key="keyIndex"
              draggable="true"
            >
              {{ layoutData[key] }}
            </div>
          </div>
        </div>
      </div>
      <!-- 選擇版型 End -->
      <!-- 填寫資料 Start -->
      <div v-show="page === 1" class="page">
        <h1>填寫資料</h1>
        <div>
          <label>商品名稱</label>
          <input type="text" name="name" v-model="payload.name" />
        </div>
        <div>
          <label>圖片</label>
          <input type="file" name="image" id="image" @change="onUpload" />
        </div>
        <div>
          <label>商品簡介</label>
          <textarea name="udesc" v-model="payload.udesc"></textarea>
        </div>
        <div>
          <label>費用</label>
          <input type="text" name="price" v-model="payload.price" />
        </div>
        <div>
          <label>相關連結</label>
          <input type="text" name="link" v-model="payload.link" />
        </div>
        <div>
          <label>發佈日期</label>
          <input type="date" name="date" v-model="payload.date" />
        </div>
      </div>

      <!-- 填寫資料 End -->
      <!-- 預覽 Start -->

      <div v-show="page === 2" class="page">
        <h1>預覽</h1>

        <div class="layout">
          <div
            v-for="key in layouts[payload.template_index]"
            :key="key"
            v-html="preview(key)"
          ></div>
        </div>
      </div>
      <!-- 預覽 End -->

      <div v-show="page === 3" class="page">
        <h1>確定送出</h1>
        <button class="btn" @click="onSubmit">送出</button>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
