<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增模版</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <button onclick="history.go(-1)">上一頁</button>
    <div id="app">
      <h1>新增商品模版(可以拖曳欄位更改版型)</h1>
      <div class="layouts">
        <div
          v-for="(layout, index) in layouts"
          :key="index"
          class="layout"
          :class="{active: selectlayoutIndex === index}"
          :style="{background: selectlayoutIndex === index ? insertTemplateBackground : layouts_background[index] }"
          @click="selectlayoutIndex = index"
        >
          <div
            v-for="(key, keyIndex) in layout"
            :key="key"
            :data-index="index"
            :data-key="keyIndex"
            :class="key"
            draggable="true"
            @dragstart="onDragstart"
            @dragover.prevent=""
            @drop="onDrop"
          >
            {{ layoutData[key] }}
          </div>
        </div>
      </div>
      背景顏色:
      <input
        type="text"
        name="insertTemplateBackground"
        placeholder="#ddd"
        style="width: 100px; margin: 10px"
        v-model="insertTemplateBackground"
      />
      <br />
      <button @click="insertTemplate">新增商品模版</button>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
